<h2> Enter Your Preferred Pick-Up</h2>




<p>
   <%= f.label :user_id%>
   <%= f.text_field :user_id %></p>
 <p>
  <%= f.label :name %>
   <%= f.password_field :name %></p>
  <p><%= f.label :location%>
    <%= f.password_field :location %></p>
  <p><%= f.submit %></p>
<% end %>
