<h2><span style="font-family: Lucida-Calligraphy;">WormTurn</span></h2>
<h5>From Table to Trees:</h5>
<h5>NYC's Premier Kitchen Composting Service!</h5>

<% if current_user %>
  <p>
    <%= current_user.email %> ... is a valued worm turner!
  </p>
  <%= link_to "Log-Out", log_out_path, method: :delete %>

<% else %>
  <p>
    <%= link_to "Log-In", log_in_path %>
    <%= link_to "New User", users_new_path %>
  </p>
<% end %>


<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.email %>
    </li>
  <% end %>
</ul>

<footer>WormTurn, 235 Riverside, New York, NY 10023 Tel:212 865 1569</footer>
