<h2>WHO</h2>
<p>WormTurn is NewYorkCity's white-glove compost collection service.
We know you like to keep things clean and simple. (Verdana 12px)</p>
<h2>WHAT</h2>
<p>We provide a complimentary, hygienic Starter Kit, together with some easy information.
You tell us when you'd like the collection. Each time we arrive at your door to pick up, we’ll also replace your worm kit.</p>
<h2>WHY</h2>
<p>As NewYorkers, we all love our parks & open spaces and rely heavily on their presence in our neighborhoods. But did you know that they in turn rely heavily on hazardous fertilizers and pesticides to stay green?

We save energy, we recycle paper, metal and plastics. We're good at that in New York. But we still throw away 20lbs of perishable food, per person, per month.
Now, WormTurn makes it easy for you to recycle your discarded food. And you can give your neighborhood gardens and green spaces the organic, fertilizer- and phosphate-free rescue they need.
1lb worms can consume 1/2lb of perishable food per day. You just need to feed them! And if you have kids, that’s gotta be better than an ant farm!

So before you empty the contents of your fridge, think what a turning worm can do to help the park where you run, bike or like to sit in the sun.
You don't have to take your vegetable peelings miles to the nearest drop-off location. WormTurn will deliver them directly for you.

WormTurn makes doing the right thing hassle-free.



Tell your friends! Be the first worm to turn in your community!</p>

<p>Let's get started!</p>

<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit %>
<% end %>
