<h1>My Account</h1>


<a href="/users/<%= current_user.id %>/pick_ups/new">
<h2> Schedule A Pick-Up</h2>
</a><br>


<h2> Track My Weigh-Ins</h2>

<%= raw @svg %>

<a href="users/<%= current_user.id %>/team_memberships/new">
<h2> My Teams</h2>
</a><br>




<a href="users/<%= current_user.id %>/forum">
Community
</a><br>

<a href="users/<%= current_user.id %>/tips">
Tips & Troubleshooting
</a><br>

<a href="/<%= current_user.id %>/my_park">
My Park
</a><br>
